OpenTrack.Lib/Service References/PartsAPI/partsapi.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="opentrack.dealertrack.com" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s1="PartsPricing.PartsAPI.Opentrack.Dealertrack.com" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="opentrack.dealertrack.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="opentrack.dealertrack.com">
      <s:import namespace="PartsPricing.PartsAPI.Opentrack.Dealertrack.com" />
      <s:element name="AddPartsOrder">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="dealer" type="tns:DealerInfo" />
            <s:element minOccurs="0" maxOccurs="1" name="orderDetailRequest" type="tns:OrderDetailRequest" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="DealerInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="CompanyNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EnterpriseCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ServerName" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="OrderDetailRequest">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="OrderNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Type" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Manufacturer" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PlaceOnOrder" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SendToOEM" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="StockingGroup" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PromoCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ProgramCode" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ArrivalDate" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="ShipmentCarrier" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OrderType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DailyWeekly" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TypeModeOutput" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Parts" type="tns:ArrayOfPart" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfPart">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Part" nillable="true" type="tns:Part" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Part">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="PartNumber" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="PartQuantity" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="AddPartsOrderResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddPartsOrderResult" type="tns:AddPartsOrderResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="AddPartsOrderResponse">
        <s:complexContent mixed="false">
          <s:extension base="tns:ApiBaseResponse">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="OrderNumber" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ApiBaseResponse" abstract="true">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Failure" type="tns:Failure" />
          <s:element minOccurs="0" maxOccurs="1" name="Success" type="tns:Success" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Failure">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Errors" type="tns:ArrayOfError" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfError">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Error" nillable="true" type="tns:Error" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Error">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Code" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Success">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="PhysicalInventory">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="dealer" type="tns:DealerInfo" />
            <s:element minOccurs="0" maxOccurs="1" name="inventoryRequest" type="tns:PhysicalInventoryRequest" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="PhysicalInventoryRequest">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="RecordKey" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="YellowPad" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Sheets" type="tns:ArrayOfPhysicalInventorySheet" />
          <s:element minOccurs="0" maxOccurs="1" name="YPDetail" type="tns:PhysicalInventoryYellowPadDetail" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfPhysicalInventorySheet">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="PhysicalInventorySheet" nillable="true" type="tns:PhysicalInventorySheet" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="PhysicalInventorySheet">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="SheetNumber" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Lines" type="tns:ArrayOfPhysicalInventoryLine" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfPhysicalInventoryLine">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="PhysicalInventoryLine" nillable="true" type="tns:PhysicalInventoryLine" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="PhysicalInventoryLine">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="LineNum" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="PartNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NewBinLocation" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NewShelfLocation" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Count" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="PhysicalInventoryYellowPadDetail">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Manufacturer" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PartNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="StockingGroup" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Cost" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="BinDetail" type="tns:YellowPadBinDetail" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="YellowPadBinDetail">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="AssignBin" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="BinLoc1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BinLoc2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BinLoc3" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BinLoc4" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BinLoc5" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Count1" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Count2" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Count3" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Count4" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Count5" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ShelfLoc1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ShelfLoc2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ShelfLoc3" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ShelfLoc4" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ShelfLoc5" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="PhysicalInventoryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PhysicalInventoryResult" type="tns:PhysicalInventoryResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="PhysicalInventoryResponse">
        <s:complexContent mixed="false">
          <s:extension base="tns:ApiBaseResponse" />
        </s:complexContent>
      </s:complexType>
      <s:element name="PhysicalInventorySearch">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="dealer" type="tns:DealerInfo" />
            <s:element minOccurs="0" maxOccurs="1" name="searchRequest" type="tns:PhysicalInventorySearchRequest" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="PhysicalInventorySearchRequest">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="RecordKey" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Manufacturer" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CreatedDateStart" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="CreatedDateEnd" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="InventoryType" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="PhysicalInventorySearchResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PhysicalInventorySearchResult" type="tns:PhysicalInventorySearchResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="PhysicalInventorySearchResponse">
        <s:complexContent mixed="false">
          <s:extension base="tns:ApiBaseResponse">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="InventorySheets" type="tns:ArrayOfInventorySheet" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ArrayOfInventorySheet">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="InventorySheet" nillable="true" type="tns:InventorySheet" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="InventorySheet">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="CompanyNumber" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="RecordKey" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CreateDate" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="StartingBin" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EndingBin" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="StartingShelf" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EndingShelf" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="InventoryType" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="FromNumber" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ToNumber" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="FromPercent" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="ToPercent" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="PartsList" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SelectedManufacter" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AssignNewBin" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PostFlag" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PageBreakPos1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PageBreakPos2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PageBreakPos3" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PageBreakPos4" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PageBreakPos5" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PageBreakPos6" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PageBreakPos7" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ManufSequence" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GroupSequence" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PartSequence" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="QtyOnHandFlag" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="LastSheetNo" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Parts1" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="PhysCountValue1" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="OnHandValue1" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="ValuePartsOnRO1" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="Parts2" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="PhysCountValue2" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="OnHandValue2" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="ValuePartsOnRO2" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="Parts3" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="PhysCountValue3" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="OnHandValue3" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="ValuePartsOnRO3" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="Parts4" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="PhysCountValue4" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="OnHandValue4" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="ValuePartsOnRO4" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="Parts5" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="PhysCountValue5" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="OnHandValue5" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="ValuePartsOnRO5" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="Parts6" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="PhysCountValue6" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="OnHandValue6" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="ValuePartsOnRO6" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="Parts7" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="PhysCountValue7" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="OnHandValue7" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="Parts8" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="PhysCountValue8" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="OnHandValue8" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="OutSheetArray1" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SheetNumber" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="LineNumber" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Manufacturer" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PartNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PartsDescription" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DisplayPartNo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="StockingGroup" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GroupCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BinLocation" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ShelfLocation" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="QtyOnHand" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Cost" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="PhysicalCount" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="YellowPadCount" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="OpenROCount" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="OpenROValue" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="Status" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OldPartExists" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NewBinLocation" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NewShelfLocation" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SelectCode" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="PartPricingLookup">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Dealer" type="tns:DealerInfo" />
            <s:element minOccurs="1" maxOccurs="1" name="LookupParms" nillable="true" type="tns:PartsPricingLookupRequestLookupType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="PartsPricingLookupRequestLookupType">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="CustomerKey" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="PriceLevel" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="VIN" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Parts" type="tns:ArrayOfPartsPricingLookupRequestPartType" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfPartsPricingLookupRequestPartType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Part" nillable="true" type="tns:PartsPricingLookupRequestPartType" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="PartsPricingLookupRequestPartType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="PartsPricing" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Manufacturer" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PartNumber" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Quantity" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="LaborOpCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ServiceType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PaymentMethod" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ServiceContractCompanyID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="LOCFlag" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="PartPricingLookupResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PartPricingLookupResult" type="tns:PartsPricingLookupResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="PartsPricingLookupResponse">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Parts" type="tns:ArrayOfPartsPricingLookupResponsePart" />
          <s:element minOccurs="0" maxOccurs="1" name="Errors" type="tns:ArrayOfError" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfPartsPricingLookupResponsePart">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Part" nillable="true" type="s1:PartsPricingLookupResponsePart" />
        </s:sequence>
      </s:complexType>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="PartsPricing.PartsAPI.Opentrack.Dealertrack.com">
      <s:complexType name="PartsPricingLookupResponsePart">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Success" type="s1:PartsPricingLookupResponsePartSuccess" />
          <s:element minOccurs="0" maxOccurs="1" name="Error" type="s1:PartsPricingLookupResponsePartError" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="PartsPricingLookupResponsePartSuccess">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="PartNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LaborOpCode" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Quantity" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="PartPrice" type="s:double" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="PartsPricingLookupResponsePartError">
        <s:complexContent mixed="false">
          <s:extension base="s1:Error">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="PartNumber" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="LaborOpCode" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="Error">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Code" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AddPartsOrderSoapIn">
    <wsdl:part name="parameters" element="tns:AddPartsOrder" />
  </wsdl:message>
  <wsdl:message name="AddPartsOrderSoapOut">
    <wsdl:part name="parameters" element="tns:AddPartsOrderResponse" />
  </wsdl:message>
  <wsdl:message name="PhysicalInventorySoapIn">
    <wsdl:part name="parameters" element="tns:PhysicalInventory" />
  </wsdl:message>
  <wsdl:message name="PhysicalInventorySoapOut">
    <wsdl:part name="parameters" element="tns:PhysicalInventoryResponse" />
  </wsdl:message>
  <wsdl:message name="PhysicalInventorySearchSoapIn">
    <wsdl:part name="parameters" element="tns:PhysicalInventorySearch" />
  </wsdl:message>
  <wsdl:message name="PhysicalInventorySearchSoapOut">
    <wsdl:part name="parameters" element="tns:PhysicalInventorySearchResponse" />
  </wsdl:message>
  <wsdl:message name="PartPricingLookupSoapIn">
    <wsdl:part name="parameters" element="tns:PartPricingLookup" />
  </wsdl:message>
  <wsdl:message name="PartPricingLookupSoapOut">
    <wsdl:part name="parameters" element="tns:PartPricingLookupResponse" />
  </wsdl:message>
  <wsdl:portType name="PartsAPISoap">
    <wsdl:operation name="AddPartsOrder">
      <wsdl:input message="tns:AddPartsOrderSoapIn" />
      <wsdl:output message="tns:AddPartsOrderSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PhysicalInventory">
      <wsdl:input message="tns:PhysicalInventorySoapIn" />
      <wsdl:output message="tns:PhysicalInventorySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PhysicalInventorySearch">
      <wsdl:input message="tns:PhysicalInventorySearchSoapIn" />
      <wsdl:output message="tns:PhysicalInventorySearchSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PartPricingLookup">
      <wsdl:input message="tns:PartPricingLookupSoapIn" />
      <wsdl:output message="tns:PartPricingLookupSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PartsAPISoap" type="tns:PartsAPISoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddPartsOrder">
      <soap:operation soapAction="opentrack.dealertrack.com/AddPartsOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PhysicalInventory">
      <soap:operation soapAction="opentrack.dealertrack.com/PhysicalInventory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PhysicalInventorySearch">
      <soap:operation soapAction="opentrack.dealertrack.com/PhysicalInventorySearch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PartPricingLookup">
      <soap:operation soapAction="opentrack.dealertrack.com/PartPricingLookup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PartsAPISoap12" type="tns:PartsAPISoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddPartsOrder">
      <soap12:operation soapAction="opentrack.dealertrack.com/AddPartsOrder" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PhysicalInventory">
      <soap12:operation soapAction="opentrack.dealertrack.com/PhysicalInventory" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PhysicalInventorySearch">
      <soap12:operation soapAction="opentrack.dealertrack.com/PhysicalInventorySearch" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PartPricingLookup">
      <soap12:operation soapAction="opentrack.dealertrack.com/PartPricingLookup" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PartsAPI">
    <wsdl:port name="PartsAPISoap" binding="tns:PartsAPISoap">
      <soap:address location="https://otstaging.arkona.com/opentrack/partsapi.asmx" />
    </wsdl:port>
    <wsdl:port name="PartsAPISoap12" binding="tns:PartsAPISoap12">
      <soap12:address location="https://otstaging.arkona.com/opentrack/partsapi.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>