OpenTrack.Lib/Service References/PartsAPI/partsapi.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="opentrack.dealertrack.com" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="opentrack.dealertrack.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="opentrack.dealertrack.com">
      <s:element name="AddPartsOrder">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="dealer" type="tns:DealerInfo" />
            <s:element minOccurs="0" maxOccurs="1" name="orderDetailRequest" type="tns:OrderDetailRequest" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="DealerInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="CompanyNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EnterpriseCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ServerName" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="OrderDetailRequest">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="OrderNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Type" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Manufacturer" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PlaceOnOrder" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SendToOEM" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="StockingGroup" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PromoCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ProgramCode" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ArrivalDate" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="ShipmentCarrier" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OrderType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DailyWeekly" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TypeModeOutput" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Parts" type="tns:ArrayOfPart" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfPart">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Part" nillable="true" type="tns:Part" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Part">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="PartNumber" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="PartQuantity" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="AddPartsOrderResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddPartsOrderResult" type="tns:AddPartsOrderResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="AddPartsOrderResponse">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="OrderNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Failure" type="tns:Failure" />
          <s:element minOccurs="0" maxOccurs="1" name="Success" type="tns:Success" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Failure">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Errors" type="tns:ArrayOfError" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfError">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Error" nillable="true" type="tns:Error" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Error">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Code" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Success">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AddPartsOrderSoapIn">
    <wsdl:part name="parameters" element="tns:AddPartsOrder" />
  </wsdl:message>
  <wsdl:message name="AddPartsOrderSoapOut">
    <wsdl:part name="parameters" element="tns:AddPartsOrderResponse" />
  </wsdl:message>
  <wsdl:portType name="PartsAPISoap">
    <wsdl:operation name="AddPartsOrder">
      <wsdl:input message="tns:AddPartsOrderSoapIn" />
      <wsdl:output message="tns:AddPartsOrderSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PartsAPISoap" type="tns:PartsAPISoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddPartsOrder">
      <soap:operation soapAction="opentrack.dealertrack.com/AddPartsOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PartsAPISoap12" type="tns:PartsAPISoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddPartsOrder">
      <soap12:operation soapAction="opentrack.dealertrack.com/AddPartsOrder" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PartsAPI">
    <wsdl:port name="PartsAPISoap" binding="tns:PartsAPISoap">
      <soap:address location="https://otstaging.arkona.com/opentrack/partsapi.asmx" />
    </wsdl:port>
    <wsdl:port name="PartsAPISoap12" binding="tns:PartsAPISoap12">
      <soap12:address location="https://otstaging.arkona.com/opentrack/partsapi.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>